{% extends "layout.html" %}

{% block title %}
ToDo-List
{% endblock %}

{% block content %}
<div class="section">
  
    <form method="post">
        <div class="input-field col s6">
          <input placeholder="Placeholder" type="text" id="name" class="validate" name="name">
          <label for="name">Todo List</label>
        </div>
        <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="submit" value="add">ADD
        <i class="material-icons right">send</i>
        </button>
        <button class="btn waves-effect waves-light" type="submit" name="submit" value="delete">DELETE
            <i class="material-icons right">send</i>
        </button>
        </div>
    </form>

    {% for item in t %}
    <ul class="collection">
        <li class="collection-item">{{ item }}</li>
    </ul>
    {% endfor %}
  </div>
</div>

{% endblock %}
